<div class="modal-alert-login" style="display:none;">
</div>
<form class="form-horizontal" id="lgForm" role="form", action="/login", method="POST">
    <div class="form-group">
        <div class="col-md-12">
           <input type="text" class="form-control" name="email" placeholder="Enter email" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">          
            <input type="password" class="form-control" name="password" placeholder="Enter password" required>
        </div>
    </div>
    <div class="form-group">        
        <div class="col-md-12">
            <button type="submit" id="lgButton" class="btn btn-primary btn-md btn-block">Log in</button>
        </div>
    </div>
</form>