body {
  padding-top: 50px;
}

/* navigation bar */
.navbar {
  background: url("../../images/navbar-header.png");
  background-size: 100% 100%;
}

.navbar ul li a {
  font-size: 12px;
}

.footer p a {
  font-size: 12px;  
}

/* carousel */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

#loginModal, #signupModal, #blogModal{
  top:100px;
}

.panel-body p {
  font-size: 12px;
}

.nav-stacked li {
  font-size: 12px;
}