<div class="container">
    <div class="col-sm-4">
        <h2>Create New Blog</h2>
    </div>
</div>
<div class="container">
  <form class="form-horizontal" role="form" action="/blog/create" method="POST">
    <div class="form-group">
      <div class="col-sm-4">
        <textarea type="text" class="form-control" name="blogTitle" placeholder="Enter blog title", required></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4">          
        <textarea rows=10 type="text" class="form-control" name="blogBody" placeholder="Enter blog body", required></textarea>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary btn-md btn-block">Add Blog</button>
      </div>
    </div>
  </form>
</div>


