<div class="container" style="padding-top: 50px;">
  <form class="form-horizontal" role="form" action="/blog/update/<%= blog.id %>" method="POST" id="updateBlogForm">
    <div class="form-group">
      <div class="col-md-6">
        <input type="text" class="form-control" value="<%= blog.title %>" name="blogTitle"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">          
        <textarea rows=10 type="text" class="form-control" name="blogBody"/><%= blog.body %></textarea>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-6">
        <input type="submit" value="Update" id="updateBlogButton" class="btn btn-sm btn-primary btn-block"/>
      </div>
    </div>
  </form>
</div>

<script>
$("#updateBlogButton").on("click", function (evt) {
  // override default method of button which is post/to submit the form
  evt.preventDefault(); 
  var param = {};

  var send_data = $("#updateBlogForm").serializeArray();
  for(var i=0; i < send_data.length; i++) {
    var record = send_data[i];
    param[record.name] = record.value;
  }
  console.log(param);
  var result = $.ajax({
    method: "PUT",
    type: "JSON",
    url: "/blog/update/<%= blog.id %>",
    data: param,
    success: function(response) {
      window.location = '/blog';
    },

    error: function(response) {
      console.log("Error");
    }
  });
});

</script>